<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mohamad">
        </div>

        <div class="form-group">
            <label for="email" class="text-dark">Email</label>
            <input type="text" name="email" value="" placeholder="Examle@gmail.com">
        </div>

        <div class="form-group">
            <label for="gender" class="text-dark">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value='Male'>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value='Female'>
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-dark">Satus</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value='Active'>
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value='InActive'>
                <label for="radio-5" class="radio-label">InActive</label>
            </div>
        </div>

        <div class="form-group">
            <label for="date" class="text-dark">Birthday</label>
            <input type="date" name="date" value="" placeholder="00/00/0000">
        </div>
        
        <div class="form-group">
            <label for="street" class="text-dark">Address</label>
            <input type="text" name="street" placeholder="Street">
        </div>

        <div class="form-group">
            <label for="city" class="text-dark">City</label>
            <input type="text" name="city" placeholder="City">
        </div>

        <div class="form-group">
            <label for="state" class="text-dark">State</label>
            <input type="text" name="state" placeholder="state">
        
        </div>

        <div class="form-group">
            <label for="zip" class="text-dark">Zip</label>
            <input type="text" name="zip" placeholder="Zip">
        </div>

        <div class="form-group">
            <label for="country" class="text-dark">Country</label>
            <input type="text" name="country" placeholder="country">
        </div>
          

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
    
</form>